{% extends 'base.html' %}
{% block content %}

<br>
<br>
<br>
<section class="about" id="about">

    <div class="image">
        <img src="static/images/about-img.jpg" alt="">
    </div>

    <div class="content">
        <h3>memorable outdoor experiences</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque voluptates corrupti natus necessitatibus
            beatae voluptatibus, deserunt quo soluta minima libero laborum, corporis error esse vitae placeat blanditiis
            reiciendis vel? Minima.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dicta doloremque placeat porro, ipsam quia
            at beatae atque odit iste?</p>
        <a href="#" class="btn">read more</a>
    </div>

</section>
<section class="services">

    <h1 class="heading"> what we offer </h1>

    <div class="box-container">

        <div class="box">
            <img src="static/images/serv-1.png" alt="">
            <h3>complete guide</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, nihil?</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="static/images/serv-2.png" alt="">
            <h3>custom event</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, nihil?</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="static/images/serv-3.png" alt="">
            <h3>family trips</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, nihil?</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="static/images/serv-4.png" alt="">
            <h3>train guides</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, nihil?</p>
            <a href="#" class="btn">read more</a>
        </div>
    </div>

</section>

{% include "footer.html" %}

{% endblock %}